.container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container main {
  width: 100%;
  height: auto;
  display: flex;
  border: 1px solid #000;
  border-radius: 10px;
}

.container main .profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container main .profile-container .summary-container {
  padding: 2rem 2rem;
}

.container main .profile-container .summary-container h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.container main .profile-container .summary-container p {
  width: 60%;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  padding: 0 0.2rem;
}

.profile-container .skill {
  padding: 0 2rem;
  margin: 1rem 0;
}

.profile-container .skill h2 {
  color: transparent;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  letter-spacing: 0.1rem;
}

.profile-container .skill .skill-list {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  height: 200px;
  margin: 2rem;
  border: 2px solid #000;
  border-radius: 10px;
}

.section h3 {
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
}

.container main .profile-container .social-media {
  padding: 2rem;
}

.container main .profile-container .social-media a {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
}

.container main .profile-container .social-media .social-wrapper {
  width: 8%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

.container main .profile-container .social-media .social-wrapper li .icon {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

main .hero-img-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

.container main .hero-img-wrapper .img-container {
  width: 100%;
  height: 100%;
}

.container main .hero-img-wrapper .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .section {
    display: none;
  }

  .container main .profile-container .summary-container h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .container main .profile-container .summary-container p {
    width: 80%;
  }

  .profile-container .skill {
    padding: 1rem 2rem;
  }

  .profile-container .skill .skill-list {
    width: 40%;
  }

  .profile-container .skill h2 {
    color: transparent;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 0.1rem;
  }

  .profile-container .skill .skill-list img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
  }

  .container main .profile-container .social-media {
    padding: 2rem 0;
  }

  .container main .profile-container .social-media .social-wrapper {
    width: 10%;
  }
}

@media screen and (max-width: 768px) {
  .section {
    display: none;
  }

  .container main {
    width: 100%;
    height: auto;
    border: none;
  }

  .container main .profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container main .profile-container .summary-container {
    padding: 2rem 0;
  }

  .container main .profile-container .summary-container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .container main .profile-container .summary-container p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 0 0.2rem;
  }

  .profile-container .skill {
    padding: 0;
    margin: 0;
  }

  .profile-container .skill h2 {
    color: transparent;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 0.1rem;
  }

  .profile-container .skill .skill-list {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .container main .hero-img-wrapper {
    width: auto;
    height: auto;
  }

  .container main .hero-img-wrapper .img-container {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }

  .container main .hero-img-wrapper .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
  .section {
    display: none;
  }

  .container main {
    width: 100%;
    height: auto;
    border: none;
    display: flex;
    flex-direction: column-reverse;
  }

  .container main .profile-container .summary-container h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .container main .profile-container .summary-container p {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }

  .profile-container .skill h2 {
    color: transparent;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 0.1rem;
    text-align: center;
  }

  .profile-container .skill .skill-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .skill-list img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
  }

  .container main .hero-img-wrapper {
    width: auto;
    height: auto;
  }

  .container main .hero-img-wrapper {
    width: auto;
    height: auto;
  }

  .container main .hero-img-wrapper .img-container {
    display: inline-block;
    position: relative;
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
  }

  .container main .hero-img-wrapper .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
